* {
  border: 1px solid red;
}

/* #B29F91
#7D9F69
#62615D 
#62615D 
#F6F6F5
#EBE4DD */
.main {
  background-color: #b29f91;
  display: flex;
  height: 290px;
  font-family: "Inter", Arial, sans-serif;
}
.main__logo {
  max-width: 300px;
  max-height: 300px;
}
.main__text {
  align-self: flex-end;
  margin-bottom: 85px;
}

.nav {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: flex-end;
  gap: 25px;
  font-size: 17px;
  padding-left: 425px;
  margin-bottom: 85px;
}
.nav__tab:hover {
  color: #f6f6f5;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.content {
  height: 600px;
}
.content__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about {
  height: 700px;
  background-color: #f6f6f5;
  display: flex;
  padding-right: 150px;
}
.about__title {
  font-size: 40px;
  font-family: "Inter";
  padding-bottom: 30px;
  border-bottom: 2px solid #7d9f69;
}

.about__text {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.about__container {
  margin: 100px;
}

.about__image {
  margin: 50px 0 50px 100px;
  padding: 0;
  border-radius: 200px 200px 0 0;
}
.services {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  height: 600px;
}
.services__columns {
  display: flex;
  gap: 250px;
}
