.boxContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: relative;
  bottom: -105px;
}

.box {
  width: 300px;
  height: 200px;
  display: flex;
  align-items: center;
  color: black;
  background-color: white;
  font-weight: bold;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  text-align: center;
}
.box div {
  font-family: 'Belleza';
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}
.box div b {
  font-size: 24px;
}
.box div span {
  font-weight: 200;
  line-height: 1.5;
}
