.faq {
  background: #4282aa;
  font-family: 'Belleza';
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.faqTitle {
  margin-top: 100px;
  font-size: 50px;
  line-height: 50px;
  color: white;
  text-align: center;
}

.faqPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
  margin-top: 2rem;
  width: 100%;
}

.faqItem {
  width: 69.5%;
  min-height: 80px;
  border-radius: 10px;
  margin-bottom: 1rem;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.faqHeader {
  display: flex;
  justify-content: flex-start;
  font-size: 34px;
  align-items: center;
  padding: 1rem;
  border-radius: 5px;
  cursor: pointer;
  justify-content: space-between;
}
.faqAnswer {
  height: auto;
  color: #797979;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin: 6px 170px 25px 78px;
}
.faqToggle {
  color: #797979;
}
.faqNumber {
  color: #4282aa;
  margin-right: 14px;
}
@media screen and (max-width: 745px) {
  .faqAnswer {
    margin: 20px;
    font-size: 14px;
  }
  .faqHeader {
    font-size: 24px;
  }
}
